<project>
  repository_url: {{ repository_url }}
  issue_url: {{ issue_url }}
</project>

<programming_agent_handover>
{{ programming_agent_handover}}
</programming_agent_handover>

<merge_request_details>
{{ merge_request_details }}
</merge_request_details>

Generate ALL 5 tool calls below in a SINGLE response. Do NOT stop after one call.

**Git commands** (all use repository_url: `{{ repository_url }}`):
1. `run_git_command`: command=`add`, args=`-A`
2. `run_git_command`: command=`commit`, args=`-m {commit_message}`
   {% include 'common/commit_message_guidelines/1.0.0.jinja' %}
3. `run_git_command`: command=`fetch`, args=`--unshallow`
4. `run_git_command`: command=`push`, args=`origin <current-branch>:<current-branch>`

**Merge request update**:
5. `update_merge_request` using iid from merge_request_details:
   - reviewer: user id {{ reviewer_id }}
   - description prefix: "Relates to issue {{ issue_url }}"
   - add "## Changes" section based on programming_agent_handover
