{{file_content}}
In the file user selected this code:
<selected_code>
  {{selected_text}}
</selected_code>

{{input}}
{{file_content_reuse}}
Any code blocks in response should be formatted in markdown.

Select a snippet of code that is less than 100 lines.
Output the new refactored code.
Output instructions to the user on how to add the changes you made to the file.

If the code you are refactoring is a snippet of the user selected code:
- Explain to the user that due to the large size of the code you have only selected a small section.
- Tell the user how to identify that section (avoid using line numbers).
