Generate a session title based on the following context:
<context>
{{ context }}
</context>

If you can not generate a title, use the flow_definition as an alternative:
<flow_definition>{{ definition }}</flow_definition>
