The branch that has been pushed is named:
<source_branch_name>{{ source_branch_name }}</source_branch_name>

<fix_pipeline_source>
{%- if merge_request_url %}
  merge_request
{%- elif source_branch == default_branch %}
  default_branch
{%- else %}
  branch
{%- endif %}
</fix_pipeline_source>
