The git push output is provided in the tool_response tag below:
<tool_response>{{ git_push_response }}</tool_response>

<fix_pipeline_source>
{%- if merge_request_url %}
  merge_request
{%- elif source_branch == default_branch %}
  default_branch
{%- else %}
  branch
{%- endif %}
</fix_pipeline_source>
