Examine the information in the `context` tags below, and set the decision field to `add_comment`, `create_plan`, or `no_action`:
<context>
  {{fix_pipeline_context_results}}
</context>

{% if merge_request_url %}<merge_request_url>{{merge_request_url}}</merge_request_url>{% endif %}
