Here is the context gathered so far to inform the fix:
<context>
  {{fix_pipeline_context_results}}
</context>

Here is the information about the operating system where you are executing these tasks:
<os_information>
  {{ os_information }}
</os_information>
