# Collapse all generated protobuf files by default
*.pb.go gitlab-generated
*_pb2.py gitlab-generated
*_pb2.pyi gitlab-generated
*_pb.rb gitlab-generated
clients/node/src/grpc/contract.ts gitlab-generated
