---
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

image: python:3.12.12

stages:
  - build
  - test
  - deploy-review
  - validate
  - release
  - ingest
  - runway_staging
  - runway_production
  - deploy_pages

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  POETRY_CACHE_DIR: "$CI_PROJECT_DIR/.cache/poetry"
  POETRY_VERSION: "2.2.1"

  DOCKER_VERSION: "29.1.2"
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_MODEL_GATEWAY: "$CI_REGISTRY_IMAGE/model-gateway"
  DOCKER_INGEST: "$CI_REGISTRY_IMAGE/ingest"
  DOCKERHUB_MODEL_GATEWAY: "gitlab/model-gateway"

  TARGET_IMAGE: "$DOCKER_MODEL_GATEWAY:$CI_COMMIT_SHORT_SHA"
  INGEST_IMAGE: "$DOCKER_INGEST:$CI_COMMIT_SHORT_SHA"
  SELF_HOSTED_TARGET_IMAGE: "$DOCKER_MODEL_GATEWAY/self-hosted:$CI_COMMIT_SHORT_SHA"

  FIPS_TARGET_IMAGE: "$DOCKER_MODEL_GATEWAY/fips:$CI_COMMIT_SHORT_SHA"
  SELF_HOSTED_FIPS_TARGET_IMAGE: "$DOCKER_MODEL_GATEWAY/self-hosted-fips:$CI_COMMIT_SHORT_SHA"

  DOCS_LINT_IMAGE: "registry.gitlab.com/gitlab-org/technical-writing/docs-gitlab-com/lint-markdown:alpine-3.22-vale-3.13.0-markdownlint2-0.19.0-lychee-0.21.0"

  SAST_EXCLUDED_PATHS: "tests, tmp, api"
  CS_IMAGE: $TARGET_IMAGE

.if-merge-request-labels-pipeline-expedited: &if-merge-request-labels-pipeline-expedited
  if: '$CI_MERGE_REQUEST_LABELS =~ /pipeline::expedited/'

.if-commit-message-pipeline-expedited: &if-commit-message-pipeline-expedited
  if: '$CI_COMMIT_MESSAGE =~ /pipeline_expedited:\s*true/'

.if-not-canonical-project: &if-not-canonical-project
  if: $CI_PROJECT_ID != "39903947"

.if-not-security-project: &if-not-security-project
  if: $CI_PROJECT_ID != "61869127"

.skip-when-expedited-include: &skip-when-expedited-include
  - <<: *if-merge-request-labels-pipeline-expedited
    when: never
  - <<: *if-commit-message-pipeline-expedited
    when: never
  - when: always

.skip-if-not-canonical: &skip-if-not-canonical
  - <<: *if-not-canonical-project
    when: never
  - when: always

.skip-if-not-security: &skip-if-not-security
  - <<: *if-not-security-project
    when: never
  - when: always

include:
  - local: .gitlab/ci/build.gitlab-ci.yml
  - local: .gitlab/ci/lint.gitlab-ci.yml
    rules: *skip-when-expedited-include
  - local: .gitlab/ci/dependency-review.gitlab-ci.yml
  - local: .gitlab/ci/test.gitlab-ci.yml
    rules: *skip-when-expedited-include
  - local: .gitlab/ci/performance.gitlab-ci.yml
    rules: *skip-when-expedited-include
  - local: .gitlab/ci/release.gitlab-ci.yml
    rules:
      - <<: *if-not-canonical-project
        when: never
      - <<: *if-merge-request-labels-pipeline-expedited
        when: never
      - <<: *if-commit-message-pipeline-expedited
        when: never
      - when: always
  - local: .gitlab/ci/ingest.gitlab-ci.yml
    rules: *skip-when-expedited-include
  - template: Jobs/Container-Scanning.latest.gitlab-ci.yml
  - template: Jobs/Dependency-Scanning.latest.gitlab-ci.yml
  - template: Jobs/SAST.latest.gitlab-ci.yml
  - template: Jobs/Secret-Detection.latest.gitlab-ci.yml

  # Includes a base template for running kaniko easily
  # see https://gitlab.com/gitlab-com/gl-infra/common-ci-tasks/-/blob/main/kaniko.md
  - project: "gitlab-com/gl-infra/common-ci-tasks"
    ref: v1.80.3 # renovate:managed
    file: "kaniko.yml"

  # Analyze commits to determine whether to cut a release
  # see https://gitlab.com/gitlab-com/gl-infra/common-ci-tasks/-/blob/main/semantic-release.md
  - project: "gitlab-com/gl-infra/common-ci-tasks"
    ref: v2.89.0 # renovate:managed
    file: "semantic-release.yml"
    rules: *skip-if-not-canonical

  # Runway (Cloud Run)
  - project: "gitlab-com/gl-infra/platform/runway/runwayctl"
    file: "ci-tasks/service-project/runway.yml"
    inputs:
      runway_service_id: ai-gateway
      image: "$CI_REGISTRY_IMAGE/model-gateway:${CI_COMMIT_SHORT_SHA}"
      runway_version: v4.1.1
    rules: *skip-if-not-canonical
  - project: "gitlab-com/gl-infra/platform/runway/runwayctl"
    file: "ci-tasks/service-project/runway.yml"
    inputs:
      runway_service_id: duo-workflow-svc
      image: "$CI_REGISTRY_IMAGE/model-gateway:${CI_COMMIT_SHORT_SHA}"
      runway_version: v4.1.1
    rules: *skip-if-not-security
  - project: "gitlab-com/gl-infra/platform/runway/runwayctl"
    file: "ci-tasks/service-project/runway.yml"
    inputs:
      runway_service_id: dws-loadtest
      image: "$CI_REGISTRY_IMAGE/model-gateway:${CI_COMMIT_SHORT_SHA}"
      runway_version: v4.1.1
    rules: *skip-if-not-canonical
  - local: .gitlab/ci/dws-loadtest.gitlab-ci.yml
    rules: *skip-if-not-canonical
  - project: "gitlab-com/gl-infra/platform/runway/runwayctl"
    file: "ci-tasks/service-project/runway.yml"
    inputs:
      runway_service_id: ai-gateway-custom
      image: "$SELF_HOSTED_TARGET_IMAGE"
      runway_version: v4.1.1
    rules: *skip-if-not-canonical

  # Runway (Kubernetes)
  - project: "gitlab-com/gl-infra/platform/runway/runwayctl"
    file: "ci-tasks/service-project/helm-chart.yml"
    ref: v4.15.0
    inputs:
      runway_service_id: ai-gateway-eks
      runway_version: v4.15.0
      runtime: eks
      app_version: "${CI_COMMIT_SHORT_SHA}"
    rules: *skip-if-not-canonical
  - project: "gitlab-com/gl-infra/platform/runway/runwayctl"
    file: "ci-tasks/service-project/helm-chart.yml"
    ref: v4.15.0
    inputs:
      runway_service_id: ai-gateway-gke
      runway_version: v4.15.0
      runtime: gke
      app_version: "${CI_COMMIT_SHORT_SHA}"
    rules: *skip-if-not-canonical
  - project: "gitlab-com/gl-infra/platform/runway/runwayctl"
    file: "ci-tasks/service-project/helm-chart.yml"
    ref: v4.17.0
    inputs:
      runway_service_id: duo-workflow-svc-eks
      runway_version: v4.17.0
      runtime: eks
      app_version: "${CI_COMMIT_SHORT_SHA}"
    rules: *skip-if-not-canonical

  - component: ${CI_SERVER_FQDN}/gitlab-org/components/danger-review/danger-review@2.1.0
    rules:
      - if: $CI_SERVER_HOST == "gitlab.com"
  - component: $CI_SERVER_FQDN/gitlab-org/analytics-section/analytics-instrumentation/ci-components/internal_events_validation@v1.0.0
    rules:
      - if: $CI_SERVER_HOST == "gitlab.com"
    inputs:
      stage: "validate"

cache:
  key:
    files:
      - poetry.lock
      - .gitlab-ci.yml
  paths:
    - $PIP_CACHE_DIR
    - $POETRY_CACHE_DIR
    - requirements.txt
    - scripts/lib/
    - scripts/vendor/

.poetry:
  before_script:
    - pip install poetry==${POETRY_VERSION}
    - poetry config virtualenvs.in-project true
    - poetry config cache-dir ${POETRY_CACHE_DIR}
    - poetry self add poetry-plugin-export
    - poetry export -f requirements.txt --output requirements.txt --without-hashes
    - poetry config --list

.docker:
  image: docker:${DOCKER_VERSION}
  services:
    - docker:${DOCKER_VERSION}-dind
  variables:
    REGISTRY_USER: "$CI_REGISTRY_USER"
    REGISTRY_PASSWORD: "$CI_REGISTRY_PASSWORD"
    REGISTRY: "$CI_REGISTRY"
  before_script:
    - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD" "$REGISTRY"

pages:
  stage: deploy_pages
  script:
    - mkdir -p public
    - python scripts/prompt_directory_json_builder.py
  artifacts:
    paths:
      - public
  rules:
    - <<: *if-merge-request-labels-pipeline-expedited
      when: never
    - <<: *if-commit-message-pipeline-expedited
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
