lefthook 1.11.13 # datasource=github-releases depName=evilmartians/lefthook
python 3.12.11 # datasource=github-tags depName=python/cpython
gcloud 517.0.0 # datasource=github-tags depName=GoogleCloudPlatform/cloud-sdk-docker
poetry 2.0.1 # datasource=pypi depName=poetry
ruby 3.3.0 # Temporary dependency until https://gitlab.com/gitlab-org/modelops/applied-ml/code-suggestions/ai-assist/-/issues/447 is done.
vale 3.11.2 # datasource=github-releases depName=errata-ai/vale
nodejs 20.17.0 # Dependency for markdownlint-cli2
markdownlint-cli2 0.17.2 # datasource=github-tags depName=DavidAnson/markdownlint-cli2
golang 1.22.3 # datasource=golang-version depName=golang/go
