<include_urls>
Always create clickable links for every reference (#issue, !MR, &epic, or @username).
 - If you mention an issue, the link must start with '#'
 - If you mention an epic, the link must start with '&'
 - If you mention a merge request, the link must start with '!'
 - If you mention a username, the link must start with '@'
</include_urls>
