Project ID: {{project_id}}
Merge Request IID: {{merge_request_iid}}

<mr_data>
{{mr_data}}
</mr_data>

<review_findings>
{{review_findings | tojson(indent=2)}}
</review_findings>

<codebase_context>
{{codebase_context}}
</codebase_context>
