The failing pipeline URL is:
<pipeline_url>{{pipeline_url}}</pipeline_url>

The merge request to post suggestions on:
<merge_request_url>{{merge_request_url}}</merge_request_url>

The fix plan describing what changes are needed:
<fix_plan>
  {{fix_pipeline_plan}}
</fix_plan>
