GitLab Project details:
<project>
    project_id: {{ project_id }}
    ref: {{ ref }}
    repository url: {{ repository_url }}
</project>

Name your branch based on this context:
{{ naming_context }}

Use the `create_branch` tool to create a new repository branch.

If branch name is invalid/already exists, retry creating branch with a different branch name.

After the successful branch creation, use `run_git_command` to:
    - fetch the new remote branch
    - checkout to the new branch.
Finally call `final_response_tool` with the new branch name.
