{%- if additional_context %}
User added additional context below enclosed in <additional_context></additional_context> tags.

<additional_context>
{%- for added_context in additional_context %}
    {%- if added_context.id %}
    <{{ added_context.id }}>
    {%- endif %}
    {{ added_context.content }}
    {%- if added_context.id %}
    </{{ added_context.id }}>
    {%- endif %}
{%- endfor %}
</additional_context>
{%- endif %}
