{% include 'common/tool_output_security/1.0.0.jinja' %}

Post a reviewer recommendation comment on merge request !{{ merge_request_iid }} in project {{ project_id }}.

Here is the reviewer data:
{{ reviewer_data }}
