Set the decision field to the value between the decision_value tags below:

{% if merge_request_url %}
  <decision_value>comment_link</decision_value>
{% else %}
  <decision_value>end</decision_value>
{% endif %}
