{# Snippets need to be provided by AI Context Manager https://gitlab.com/gitlab-org/editor-extensions/gitlab-lsp/-/tree/main/src/common/ai_context_management. #}
Explain these code snippets.
{{slash_command.input}}
