<project>
    project_id: {{ project_id }}
    repository_url: {{ repository_url }}
    workflow_id: {{ workflow_id }}
    ref: {{ ref }}
</project>

<naming_context>
{{ naming_context }}
</naming_context>
