Here is the git repository URL:
<repository>
    {{repository_url}}
</repository>

<steps>
1. Inspect unstaged changes with `git diff` to understand what will be committed
2. Stage appropriate changes with `git add`
3. Commit with an appropriate conventional commit message
</steps>
