Pipeline fixes have been pushed to the existing merge request:
<merge_request_url>{{ merge_request_url }}</merge_request_url>

The git push output is provided in the tool_response tag below:
<tool_response>{{ git_push_response }}</tool_response>

From the tool_response, extract the pushed commit SHA.

Use the `create_merge_request_note` tool to add a comment to the merge_request_url summarizing the fixes made:
<execution_output>
  {{ execution_results }}
</execution_output>

Include the following at the end of the comment:
- [Session {{ workflow_id }}]({{ session_url }})
- The commit SHA
