<context>
    <type>build</type>
    <content>The user is currently on a page that displays a ci build which the user might refer to, for example, as 'current', 'this' or 'that'.</content>
</context>
