The failing pipeline URL is provided in the pipeline_url tag below:
<pipeline>
  <pipeline_url>{{pipeline_url}}</pipeline_url>
</pipeline>

Information about this failing pipeline is contained in the `context` tag below.
<context>
  {{fix_pipeline_context_results}}
</context>

{% if merge_request_url %}
  The merge request URL is provided in the merge_request_url tag below:
  <merge_request>
    <merge_request_url>{{merge_request_url}}</merge_request_url>
  </merge_request>
{% endif %}
