apiVersion: runway/v1
kind: RunwayKubernetesService
metadata:
  name: duo-workflow-svc-eks
spec:
  image: "registry.gitlab.com/gitlab-org/modelops/applied-ml/code-suggestions/ai-assist/model-gateway:{{ .AppVersion }}"
  command: ["/home/aigateway/app/scripts/run.sh"]
  environment:
    LANGCHAIN_TRACING_V2: "true"
    SENTRY_ERROR_TRACKING_ENABLED: "true"
    DUO_WORKFLOW_CLOUD_CONNECTOR_SERVICE_NAME: "gitlab-duo-workflow-service"
    AIGW_INTERNAL_EVENT__ENABLED: "true"
    AIGW_INTERNAL_EVENT__ENDPOINT: "https://snowplowprd.trx.gitlab.net"
    AIGW_INTERNAL_EVENT__APP_ID: "gitlab_duo_workflow"
    AIGW_INTERNAL_EVENT__BATCH_SIZE: "1"
    AIGW_INTERNAL_EVENT__THREAD_COUNT: "1"
    GRPC_TRACE: "http_keepalive"
    GRPC_VERBOSITY: "ERROR"
    PROMETHEUS_METRICS__ADDR: "0.0.0.0"
    PROMETHEUS_METRICS__PORT: "8082"
    WORKFLOW_INTERRUPT: "true"
    DISABLE_AI_GATEWAY: "true"
    ENABLE_DUO_WORKFLOW_SERVICE: "true"
    AIGW_VERTEX_SEARCH__FALLBACK_DATASTORE_VERSION: "17.0"
    AIGW_BILLING_EVENT__ENABLED: "true"
    AIGW_BILLING_EVENT__ENDPOINT: "https://billing.stgsub.gitlab.net"
    AIGW_BILLING_EVENT__NAMESPACE: "gl"
    AIGW_BILLING_EVENT__BATCH_SIZE: "1"
    AIGW_BILLING_EVENT__THREAD_COUNT: "1"
    AIGW_BILLING_EVENT__APP_ID: "gitlab_duo_workflow-billing"
    DUO_WORKFLOW__VERTEX_LOCATION: "global"
    DUO_WORKFLOW_SHUTDOWN_GRACE_PERIOD_S: "5"
    PYTHONFAULTHANDLER: "1"
    PYTHONUNBUFFERED: "1"
    GOOGLE_APPLICATION_CREDENTIALS: '/secrets/gcp-service-account/credentials.json'
  container_port: 5052
  protocol: http
  scalability:
    min_instances: 16
    max_instances: 32
    cpu_utilization: 60
  resources:
    requests:
      cpu: "1000m"
      memory: "4Gi"
      ephemeral-storage: "2Gi"
    limits:
      cpu: "2000m"
      memory: "8Gi"
      ephemeral-storage: "8Gi"
  startup_probe:
    path: "/monitoring/healthz"
    period_seconds: 10
    failure_threshold: 30  # 5 minutes (30 * 10 seconds)
  liveness_probe:
    path: "/monitoring/healthz"
    period_seconds: 10
    failure_threshold: 6  # 60 seconds
  readiness_probe:
    path: "/monitoring/ready"
    period_seconds: 30
    timeout_seconds: 5
    failure_threshold: 2  # 60 seconds
