install:
  extends: .poetry
  stage: build
  script:
    - poetry install

build-docker-model-gateway:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: Dockerfile
    KANIKO_DESTINATION: "${TARGET_IMAGE}"
    KANIKO_EXTRA_ARGS:
      --build-arg GITLAB_API_TOKEN=$GITLAB_API_TOKEN

build:ingest-image:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: scripts/ingest/Dockerfile
    KANIKO_DESTINATION: "${INGEST_IMAGE}"

build:self-hosted-ai-gateway-image:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: docker/self_hosted/Dockerfile
    KANIKO_DESTINATION: "${TARGET_IMAGE}"
    KANIKO_EXTRA_ARGS: |
      --build-arg TAG=$CI_COMMIT_TAG
      --build-arg SRC_IMAGE="${TARGET_IMAGE}"
  rules:
    - if: $CI_COMMIT_TAG =~ /^self-hosted-/
  needs:
    - build-docker-model-gateway

build:self-hosted-ai-gateway-latest-image:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: docker/self_hosted/Dockerfile
    KANIKO_DESTINATION: "${SELF_HOSTED_TARGET_IMAGE}"
    KANIKO_EXTRA_ARGS: |
      --build-arg TAG=master
      --build-arg SRC_IMAGE="${TARGET_IMAGE}"
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - build-docker-model-gateway

build:ai-gateway-fips-base-image:
  stage: build
  extends:
    - .docker
  variables:
    TARGET_IMAGE: "${FIPS_TARGET_IMAGE}"
  script:
    - docker buildx build
        --file docker/fips/Dockerfile
        --tag "$TARGET_IMAGE"
        --build-context hardening=https://gitlab.com/gitlab-org/build/CNG.git#v18.3.5:hardening
        .
    - docker push "$TARGET_IMAGE"
  rules:
    - if: $CI_COMMIT_TAG =~ /-fips$/
  needs:
    - build-docker-model-gateway

build:self-hosted-ai-gateway-fips-image:
  stage: build
  extends:
    - .docker
  variables:
    TARGET_IMAGE: "${SELF_HOSTED_FIPS_TARGET_IMAGE}"
  script:
    - docker buildx build
        --file docker/self_hosted/Dockerfile.fips
        --tag "$TARGET_IMAGE"
        --build-arg TAG=${CI_COMMIT_TAG%-fips}
        --build-arg SRC_IMAGE="${FIPS_TARGET_IMAGE}"
        .
    - docker push "$TARGET_IMAGE"
  rules:
    - if: $CI_COMMIT_TAG =~ /-fips$/
  needs:
    - build:ai-gateway-fips-base-image
