install:
  extends: .poetry
  stage: build
  script:
    - poetry install

build-docker-model-gateway:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: Dockerfile
    KANIKO_DESTINATION: "${TARGET_IMAGE}"
    KANIKO_EXTRA_ARGS:
      --build-arg GITLAB_API_TOKEN=$GITLAB_API_TOKEN

build:ingest-image:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: scripts/ingest/Dockerfile
    KANIKO_DESTINATION: "${INGEST_IMAGE}"

build:duo-agent-image:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: docker/agent/Dockerfile
    KANIKO_DESTINATION: "$CI_REGISTRY_IMAGE/duo-agent:latest"
  # Rebuild only when Dockerfile or dependencies change
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG
      changes:
        - docker/agent/Dockerfile
        - poetry.lock
        - pyproject.toml

build:self-hosted-ai-gateway-image:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: docker/self_hosted/Dockerfile
    KANIKO_DESTINATION: "${TARGET_IMAGE}"
    KANIKO_EXTRA_ARGS: |
      --build-arg TAG=$CI_COMMIT_TAG
      --build-arg SRC_IMAGE="${TARGET_IMAGE}"
  rules:
    - if: $CI_COMMIT_TAG =~ /^self-hosted-/
  needs:
    - build-docker-model-gateway

build:self-hosted-ai-gateway-latest-image:
  stage: build
  extends:
    - .kaniko_base
  variables:
    KANIKO_BUILD_FILE: docker/self_hosted/Dockerfile
    KANIKO_DESTINATION: "${SELF_HOSTED_TARGET_IMAGE}"
    KANIKO_EXTRA_ARGS: |
      --build-arg TAG=master
      --build-arg SRC_IMAGE="${TARGET_IMAGE}"
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - build-docker-model-gateway

.build-fips-base-image:
  stage: build
  extends:
    - .docker
  variables:
    TARGET_IMAGE: "${FIPS_TARGET_IMAGE}"
  script:
    - docker buildx build
        --file docker/fips/Dockerfile
        --tag "$TARGET_IMAGE"
        --build-context hardening=https://gitlab.com/gitlab-org/build/CNG.git#v18.3.5:hardening
        .
    - docker push "$TARGET_IMAGE"
  needs:
    - build-docker-model-gateway

build:ai-gateway-fips-base-image:
  extends: .build-fips-base-image
  rules:
    - if: $CI_COMMIT_TAG =~ /^self-hosted-/

build:ai-gateway-fips-base-image-latest:
  extends: .build-fips-base-image
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.build-self-hosted-fips-base-image:
  stage: build
  extends:
    - .docker
  variables:
    TARGET_IMAGE: "${SELF_HOSTED_FIPS_TARGET_IMAGE}"
  script:
    - docker buildx build
        --file docker/self_hosted/Dockerfile.fips
        --tag "$TARGET_IMAGE"
        --build-arg TAG=${FIPS_TAG}
        --build-arg SRC_IMAGE="${FIPS_TARGET_IMAGE}"
        .
    - docker push "$TARGET_IMAGE"

build:self-hosted-ai-gateway-fips-image:
  extends: .build-self-hosted-fips-base-image
  variables:
    FIPS_TAG: "$CI_COMMIT_TAG"
  rules:
    - if: $CI_COMMIT_TAG =~ /^self-hosted-/
  needs:
    - build:ai-gateway-fips-base-image

build:self-hosted-ai-gateway-fips-image-latest:
  extends: .build-self-hosted-fips-base-image
  variables:
    FIPS_TAG: "master"
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - build:ai-gateway-fips-base-image-latest
